@model Aljas_Consultation.Models.ConsultationTeacherViewModel

@{
    ViewData["Title"] = "View";
}

<h1>Consultations</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-controller="Consultations" asp-action="ConsultationsByPeriod" method="get">
    <p>
        <select asp-for="ConsultationTeacher" asp-items="Model.Teachers">
            <option value="">All</option>
        </select>

        <input type="submit" value="Filter" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Consultations![0].Teacher)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Consultations![0].Classroom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Consultations![0].Day)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Consultations![0].StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Consultations![0].EndTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Consultations!)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Teacher)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Classroom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Day)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndTime)
                </td>
                <td>
                    <a asp-action="ConsultationEdit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="ConsultationDelete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
